.navigate {
    width: 60%;
    margin: auto;
    background-color: #FEC8D8;
}

#result {
    height: 60px;
    text-align: center;
}

#number {
    font-size: 3em;
    width: 50%;
    margin: auto;
    border: solid;
    text-align: center;
}

.buttons-container {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.button {
    margin : 8px;
    padding: 8px;
    width: 33%;
    font-size: 2em;
    border:transparent;
    color: white;
    background-color: #D291BC;
    border-radius: 15px;
    cursor: pointer;
    transition:all 0.3s ease-in;
}

.button:hover {
    filter: drop-shadow(3px 3px 0px rgba(0,0,0,0.3));
}

.button:active {
    transform:translate(5px,5px);
}