.col {
    flex: 1;
    padding: 8px;
}

.flexgrid {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.odd {
    background-color: #ddd;
}

.even {
    background-color: #ccc;
}

