/* Global common CSS */

@font-face {
    font-family: "pony";
    src: url("../fonts/pony.ttf");
}

html, body {
    background-color: lightgrey;
}

/* Starts at the height of the navbar + 8px */
.container {
    margin-top: 68px;
}

.flex-grid {
    display: flex;
    flex-direction: row;
}

.list-card {
    flex: 1;
    background-color: #aaa;
    margin: 8px;
}

.list-title {
    display: block;
    text-align: center;
    margin-bottom: 8px;
    border-bottom: 2px solid;
    
    font-size: 1.2em;
}

.list-button {
    
    margin-top: auto;
}